.empty-container {
  -webkit-box-shadow: inset 0px 0px 163px -97px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 163px -97px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 163px -97px rgba(0, 0, 0, 0.75);
}
